<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--
       注意：mybatis中的配置文件中的标签顺序
       plugins在配置文件中的位置必须符合要求，否则会报错，顺序如下:
       properties?, settings?,
       typeAliases?, typeHandlers?,
       objectFactory?,objectWrapperFactory?,
       plugins?,
       environments?, databaseIdProvider?, mappers?
   -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>

        <!--显式的指定每个我们需要更改的配置的值，即使他是默认的。防止版本更新带来的问题  -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--全局地开启或关闭配置文件中的所有映射器已经配置的任何缓存，开启全局二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeHandlers>
        <!--1、配置我们自定义的TypeHandler  javaType表示当处理字段为EnumDepartStatus这种类型时，使用我们自定义的枚举类型处理器，
         如果不指定，则全部字段类型都使用我们自定义的枚举处理器
         -->
        <typeHandler handler="com.hy.typehandler.MyEnumEmpStatusTypeHandler" javaType="com.hy.bean.EnumDepartStatus"/>
        <!--2、也可以在处理某个字段的时候告诉MyBatis用什么类型处理器
                保存：#{empStatus,typeHandler=xxxx}
                查询：
                    <resultMap type="com.atguigu.mybatis.bean.Employee" id="MyEmp">
                         <id column="id" property="id"/>
                         <result column="empStatus" property="empStatus" typeHandler=""/>
                     </resultMap>
                注意：如果在参数位置修改TypeHandler，应该保证保存数据和查询数据用的TypeHandler是一样的。
          -->
    </typeHandlers>

    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
        <property name="SQL Server" value="sqlserver"/>
    </databaseIdProvider>

</configuration>