<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mapper.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
    2、settting包含很多设置，其中有一个可以驼峰名命名自动映射数据库，即javaBean中字段aColumn 自动与数据库中的A_COLUMN 映射
    -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--对于写入数据库的值为null时，避免不同数据库对null的认可程度不一样-->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!--开启延时加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="true"/>

        <!--全局地开启或关闭配置文件中的所有映射器已经配置的任何缓存，开启全局二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

</configuration>

