<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>MyBatis_06_ssm</display-name>

    <!--Spring配置： needed for ContextLoaderListener
    如果在web.xml中不写任何参数配置信息，默认的路径是"/WEB-INF/applicationContext.xml，这里通过contextConfigLocation进行指定位置
    这里配置spring容器，spring容器相当于父容器
    -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <!-- Bootstraps the root web application context before servlet initialization -->
    <!--
    配置监听器作用：ContextLoaderListener的作用就是启动Web容器时，自动装配ApplicationContext的配置信息。因为它实现了ServletContextListener这个接口，在web.xml配置这个监听器，启动容器时，就会默认执行它实现的方法。
    -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- SpringMVC配置 ：这里配置springmvc容器，相当于子容器
        load-on-startup 元素标记容器是否应该在web应用程序启动的时候就加载这个servlet，(实例化并调用其init()方法)，而不是等请求的时候在加载这个servlet
        它的值必须是一个整数，表示servlet被加载的先后顺序。
        如果该元素的值为负数或者没有设置，则容器会当Servlet被请求时再加载。
        如果值为正整数或者0时，表示容器在应用启动时就加载并初始化这个servlet，值越小，servlet的优先级越高，就越先被加载。值相同时，容器就会自己选择顺序来加载。
    -->
    <!-- The front controller of this Spring Web application, responsible for handling all application requests -->
    <servlet>
        <servlet-name>springDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--   如果不配置contextConfigLocation，默认加载/WEB-INF/servlet名称+"-serlvet.xml"即：springmvc-serlvet.xml-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Map all requests to the DispatcherServlet for handling -->
    <servlet-mapping>
        <!--
           第一种：*.action或*.do等，请求以.action或.do结尾 的由前端控制器解析
           第二种：/，所有的请求全部由前端控制器解析，会把所有的包括静态资源 （css、html、js）也解析，前端控制器无法解析静态资源，特殊处理静态资源访问不通过前端控制器解析，
           拦截了所有的请求，那么同时对*.js,*.jpg等静态文件的访问也就被拦截了，即会导致静态文件（jpg,js,css）被拦截后不能正常显示。
           第三种：/*，此方法存在问题，请求需要最终转发到jsp，此方法前端控制器把转发的jsp也解析了，前端控制器无法解析jsp的，所以此方法不能使用。
        -->

        <!--
            其中/和/*的区别：
            < url-pattern > / </ url-pattern >   不会匹配到*.jsp，即：*.jsp不会进入spring的 DispatcherServlet类 。
            < url-pattern > /* </ url-pattern > 会匹配*.jsp，会出现返回jsp视图时再次进入spring的DispatcherServlet 类，导致找不到对应的controller所以报404错。
            总之，关于web.xml的url映射的小知识:
            <url-pattern>/</url-pattern>  会匹配到/login这样的路径型url，不会匹配到模式为*.jsp这样的后缀型url
            <url-pattern>/*</url-pattern> 会匹配所有url：路径型的和后缀型的url(包括/login,*.jsp,*.js和*.html等)
        -->
        <servlet-name>springDispatcherServlet</servlet-name>
        <!-- “/”表示所有的访问地址都又DispatcherServlet 进行解析-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>

        <!--
        这里关于web.xml配置可以参考博客：https://www.cnblogs.com/wkrbky/p/5929943.html
        -->