<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.mapper.EmployeeMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>

    <!--type=""：指定自定义缓存的全类名； 实现Cache接口即可；-->

    <!-- public Employee getEmpById(Integer id); -->
    <select id="getEmpById" resultType="com.hy.bean.Employee">
        select * from employee where id=#{id}
    </select>

    <!--public List<Employee> getEmps();  -->
    <select id="getEmps" resultType="com.hy.bean.Employee">
        select * from employee
    </select>
</mapper>